-f https://download.pytorch.org/whl/torch_stable.html
#nltk==3.4.5 # original version
nltk==3.5 # newest version. From docu it doesn't seem to change anything relevant.
tensorboardX==1.9
#torch==1.3.1 # Installed manually
#torchvision==0.4.2 # Installed manually, along with torch-summary and tabulate. seemed to work.
#transformers==2.3.0 # transformers in original code, however spacy requires higher version of transformers.
tqdm==4.40.2
#spacy==3.0.5